<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-rocket-takeoff-fill" viewBox="0 0 16 16">
                <path d="M12.17 9.53c2.307-2.592 3.278-4.684 3.641-6.218..."/>
            </svg>
            CodingAsteroid
        </h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/blog">Blog</a>
            <a class="nav-link" href="/projects">Projects</a>
        </nav>
    </div>
</header>
